.App {
  text-align: center;
  display: grid;
  place-items: center;
  height: 100vh;
}

.container {
    display: flex;
    align-items: center;
}
.container > * {
    height: 50px;
    width: 50px;
    margin: 10px;
}
h3 {
    padding-top: 15px;
}
button {
    cursor: pointer;
}
